.cat-title{
  margin: 0 auto;
  font-size: 20px;
  font-weight: bold;
}
.cat-title:hover{
  color: blue;
}
.category-item{
  width: 180px;
}
.tech-list{
  width: 180px;
  margin: 20px 0;
  /*background-color: gray;*/
}
.cat-logo{
  width: 180px;
  height: auto;
  margin: 10px auto;
}
