
.nav-link{
  color: black;

}
.header-links{
  margin-top: 20px;
  font-size: 20px;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.logo-title{
  font-size: 30px;
  font-weight: bold;
}
