@import url('https://fonts.googleapis.com/css?family=Lato|Source+Sans+Pro');
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

$header: #5E738E;
$red: #5E738E;
$blue: #7B92B1;
$light: #E3F1FE;
$lighter: #E1EAEF;
$happy_blue: #82A1CF;
$white: $light;
$links: #FC5E6C;
$buttons: $blue;
$gold: #F0D41D;
$gray: #D0C9B6;
$copy: black;

div, span, a, p, body, h1, h2, h3, button {
    font-family: 'Source Sans Pro',sans-serif;
}

.slick-list {
    height: 220px;
}