.category_detail {
    color: black;
    background-color: #edf3fc;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    width: 100%;
}
.cat_detail_title {
    font-size: 16px;
    text-align: center;
}