@import 'shared.scss';
.category_detail {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    > * {
        min-height: 0;
        min-width: 0;
    }
}
.category_text {
    margin: 30px 0px;
    .cat_detail_title {
        font-size: 20px;
        color: $header;
        margin: 30px 0px;
    }
}
