@import "shared.scss";

.category-item{
  width: 250px;
  border: solid 2px $blue;
  border-radius: 5px;
  overflow: hidden;
  background-color: $main_bg;
  height: 350px;
  position: relative;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  .cat-title {
    margin: 10px auto;
    font-size: 20px;
    font-weight: bold;
    color: $header;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .cat-image {
    img {
      width: 250px;
    }
  }

  .tech-list {
    width: 90%;
    margin: 20px auto;
    /*background-color: gray;*/
  }

  .cat-logo {
    width: 100%;
    height: auto;
    margin: 10px auto;
  }
}

