@import './shared.scss';

.home-header {
  height: 500px;
  background-image: url("http://res.cloudinary.com/dult7d3mc/image/upload/v1514688321/synthetic_cxgoat.png");
  background-repeat: no-repeat;
  background-size: cover;
  .header {

    .logo-title {
      color: white;
    }
    .nav-link {
      color: white;
    }
  }
  
}
.home-title{
  font-size: 30px;
  color: white;
  text-align: center;
  margin-top: 20%;
}
.home-body {
  // padding: 50px;
}

.description_container {
  width: 100%;
  background-color: $blue;
  min-height: 400px;
  
}
.description {
  font-style: italic;
  width: 80%;
  margin: auto;
  text-align: center;
  color: white;
  padding: 40px;
  
  font-size: 20px;

  .description-title {
    margin: 0 20px 20px;
    color: $header;
    text-transform: uppercase;
  }
}

.categories{
  padding: 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 24px;
  background-color: $gold;
  min-height: 400px;

  @media (max-width: 700px){
    flex-direction: column;
    justify-content: space-between;
    .category-item {
      margin: 20px auto;
    }
  }
}

.contact_container {
  min-height: 400px;
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .contact {
    font-size: 40px;
    text-align: center;
    color: white;
  }
  
}