.carousel_container {
    width: 100%;
    overflow-x: hidden;
}

.img_container {
    height: 300px;
    
}
.product-img {
    max-height: 300px;
    width: 300px;
    margin: auto;
    position: relative;
}