@import 'shared.scss';

.description {
    color: $header;
    font-size: 20px;
    width: 80%;
    margin: auto;
}

.learn_more {
    color: $happy_blue;
    font-style: italic;
}
.patent_block {
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    > * {
        margin: 5px 0;
    }
}
.num_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.patent_num {
    font-size: 16px;
    font-weight: bold;
}

.patent_title {
    font-style: italic;
}

.patent_desc {
    font-size: 12px;
}

.related_links {
    display: flex;
    flex-direction: row;
    .related_title {
        font-size: 12px;
        font-weight: normal;
        font-style: italic;
    }
    > a {
        margin: 0 5px;
        font-size: 12px;
        text-decoration: underline;
    }
}
.patent_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;

}
.image_toggle {
    font-size: 12px;
    font-weight: bold;
    color: $happy_blue;
    display: flex;
    flex-direction: row;
    .arrow {
        margin: auto 4px;
        width: 0;
        height: 0;
        &.down {
         
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-top: 7px solid $happy_blue;
        }

        &.up {
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-bottom: 7px solid $happy_blue;
        }
    }

}
.patent_image {
    width: 300px;
    height: auto;
    margin: 10px;
}
